@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to jokes!</h1>
    <p>Im just having a look at ASP.NET. <a href="https://minlillabyra.se">Min lilla byrå!</a></p>
</div>

